
:root {
    --color-primary: #ed6266;
	--color-secondary: #fdbb01;
	--color-tertiary: #576471;

	--color-background: #26292A;
	
	--radial-animation: 1.2s;
}

* {
	margin:0;
	padding:0
}
html {
	font-size: 62.5%
}
body {
	background-color: var(--color-background);
	color: #fff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 62.5%;
}

/* Section */
.section {
	max-width: 620px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
}
.header { padding-top: 45px; }
.header .section { padding: 0; }
.section-title {
	font-size: 38px;
	font-size: 3.8rem;
	text-align: center;
	position: relative;
	margin:60px 0;
	text-transform: uppercase;
}
.section-title span {
	display: inline-block;
	background-color: var(--color-background);
	padding: 0 0.5em;
	transition:0.6s ease;
	white-space: nowrap;
}
.section-title:before {
	content: '';
	width:100%;
	height: 3px;
	top:50%;
	left: 0;
	margin-top:-1px;
	position: absolute;
	background-color: #fff;
	z-index: -1;
	transition: all 0.3s ease;
}
.section-title:hover:before {
	background-color:#fdbb01;
}


/* Site */
.site-title {
	font-size: 85px;
	font-size: 8.5rem;
	line-height: 95px;
	border-style: solid;
	border-width: 3px 0;
	border-color: #fff;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	transition: all 0.3s ease;
}
.site-title:hover {
	font-size: 90px;
	font-size: 9rem;
}
.site-description {
	font-size: 20px;
	font-size: 2rem;
	font-weight: normal;
	text-align: right;
	margin-bottom: 10px;
	line-height: 40px;
	vertical-align: middle;
	position: relative;
}


/* Balon */
.balloon {
	padding: 20px 25px;
	position: relative;
	border:2px solid #fff;
	position: relative;
	font-size: 16px;
	font-size: 1.6rem;
}
.balloon:after, .balloon:before {
	content:'';
	width:0;
	height:0;
	border-style: solid;
	border-width: 0 11px 18px 11px;
	position: absolute;
	top:-18px;
	left: 30px;
	border-color: transparent transparent #fff; 
}
.balloon:after {
	border-color: transparent transparent var(--color-background);
	top:-14.5px;
}
.balloon:hover {
	border-color: var(--color-secondary);
}
.balloon:hover:before  {
	border-color: transparent transparent var(--color-secondary);
}


/* Skills */
.radialskills {
	display: block;
	margin-bottom: 35px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.radialskills li {
	list-style: none;
	margin-bottom: 35px;
}

.radial {
	width: 134px;
	height: 134px;
	border: 3px solid #fff;
	border-radius: 50%;
	text-align: center;
	position: relative;
	transition: all 0.3s ease;
}
.radial-title {
	font-size: 34px;
	font-size: 3.4rem;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	margin-top: 27px;
}
.radial-number {
	font-size: 28px;
	font-size: 2.8rem;
	font-family: 'Oswald', sans-serif;
	line-height: 28px;
}
.radial-number::after {
	content: '%';
}
.radial-number::before {
	content: attr(data-number);
	animation: radial-number var(--radial-animation);
	/* animation-fill-mode: forwards; */
}
.radial-chart {    
	width: 100%;
	height: 100%;
    margin: 0 auto;
    transform: rotate(-90deg);
    background: transparent;
    border-radius: 50%;
	display: block;
	position: absolute;
	z-index: -1;
	box-sizing: border-box;
    padding: 3px;
}
.radial-pie {    
    fill: transparent;
    stroke: #fff;
    stroke-width: 50;
    stroke-dasharray: 0 158;
}
.radial.show .radial-pie {
	animation: radial-pie-round var(--radial-animation) ease-out;
	animation-fill-mode: forwards;
}

.radial.radial-primary .radial-pie {
	stroke: var(--color-primary);
}
.radial.radial-primary:hover {
	border-color: var(--color-primary)
}
.radial.radial-secondary .radial-pie {
    stroke: var(--color-secondary);
}
.radial.radial-secondary:hover {
	border-color: var(--color-secondary)
}
.radial.radial-tertiary .radial-pie {
    stroke: var(--color-tertiary);
}
.radial.radial-tertiary:hover {
	border-color: var(--color-tertiary)
}

@keyframes radial-pie-round {
	from {stroke-dasharray: 0 158;}
	to {stroke-dasharray: var(--radial-value) 158;}
}


/* Subskills */
.subskills {
	display: block;
	text-align: center;
	font-size: 22px;
	font-size: 2.2rem;
}
.subskills li {
	display: inline;
	list-style: none;
	padding: 0 0.3em;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	vertical-align: middle;
}

.subskills li {
	transition: color 0.5s;
}
.subskills li:hover {
	color: var(--color-primary);
}


/* Timeline */
.timeline {
	border-left: 3px;
	border-left-style: solid;
	border-color: #fff;
	position: relative;
}


.timeline.timeline-primary {
	border-color: var(--color-primary);
}
.timeline.timeline-secondary {
	border-color: var(--color-secondary);
}
.timeline.timeline-tertiary {
	border-color: var(--color-tertiary);
}

.timeline-container {
	padding: 15px 25px 50px;
}
.timeline-title {
	font-size: 49px;
	font-size: 4.9rem;
	font-weight: normal;
	position: relative;
}
.timeline-subtitle {
	font-size: 20px;
	font-size: 2rem;
	font-weight: normal;
}
.timeline-description {
	font-size: 20px;
	font-size: 2rem;
	line-height: 30px;
	color: #576471;
	font-weight: normal;
}
.timeline-date {
	text-align: right;
	font-size: 50px;
	font-size: 5rem;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: inherit;
}
.timeline-start { position: relative; }
.timeline-start:before {
	content: '';
	left: -3px;
	top: 0;
	height: 100%;
	position: absolute;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: var(--color-background);
}

.timeline:last-child:before,
.timeline:last-child:after {
	content:'';
	width: 0px;
	height: 5px;
	border-left-color: inherit;
	border-left-style: solid;
	border-left-width: 3px;
	position: absolute;
	left: -3px;
	bottom: -10px;
}
.timeline:last-child:after {bottom: -20px;}


/* Projects */
.project {
	background-color: #576471;
	list-style: none;
	display: block;
	transition: all 0.3s ease;
	transform-style: preserve-3d;
	outline: 1px solid transparent;
	cursor: pointer;
}
.project:hover {
	transform: perspective(900px) rotate3d(0, -5, 0, 5deg);
	cursor: pointer;
}

.project-content {
	padding: 20px 30px;
	text-decoration: none;
	color: inherit;
	display: block;
}
.project:not(:last-child) {
	margin-bottom: 10px;
}

.project-title {
	font-size: 25px;
	font-size: 2.5rem;
	text-transform: uppercase;
}
.project-description {
	font-size: 16px;
	font-size: 1.6rem;
}

.mail {
	text-align: right;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	margin-top: 30px;
	font-size: 25px;
	font-size: 2.5rem;
}
.mail a {
	color: inherit;
	text-decoration: none;
}

/* Footer */
.footer {
	margin-top: 60px;
	background-color: #ed6266;
	padding: 10px 0;
	text-align: center;
	font-size: 16px;
	font-size: 1.6rem;
}


/* =======
= ANIMATION =
   ======= */
.section-title span {
	transition:all 0.5s ease;
	transform: rotateX(90deg);
}
.section-title.show span {
	transform: rotateX(0);
}

.timeline-container {
	transition:all 0.5s ease;
	transform: translate(50px,0);
}
.timeline.show .timeline-container {
	transform: translate(0,0);
}

.timeline-date {
	transition:all 0.6s ease;
	margin-right: 20%;
}
.timeline.show .timeline-date {
	margin-right: 0;
}

.balloon {
	transition:all 0.5s ease;
	opacity:0;
	transform: translate(0,-50px);
}
.balloon.show {
	opacity:1;
	transform: translate(0,0);
}
.balloon:before {
	transition:all 0.5s ease;
}
.icon-mail {
	display: inline-block;
	width: 33px;
	height: 21px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAVCAMAAAD/0XfmAAAAV1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////+ORg7oAAAAHHRSTlMABpH9AizhXx/piFQo+PJ5XaQZ2J1/LxPAvnM22C2kUwAAAOFJREFUKM+1kkmSwyAMRQEBCQbEENuZdP9ztgyuUOlm229j8+shsfhC35NaGPWLHqa7FjI4iDEC0DfQUhekkKad1+zzZcCntd0xbASMFmljWQ843ghtxDYDXUourkGLgQ5rPGI0hwE2SG/h6eVHkP4J1stg4TSqkO9CmOop1IRU3lLUj3Hl9LpZKrs8BuyF7NayYfTJN7hlDjJ/eeNfg/8KueWyOCqcTwymvpCI8MXvmRl908M+eMPU6GiTjRYzY8AD5sbgvwy36zm76waRGt346og6++EAaA60jrWeqjmtpz+ykhLNpxAvMQAAAABJRU5ErkJggg==);
	vertical-align: baseline;
}